<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>patient Appointments Room</title>
  </head>
  <body>
    <textarea id="chat-log" cols="70" rows="70"> </textarea><br />
    {% comment %}
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {% endcomment %} {{ patient_id|json_script:"patient-id" }}
    <script>
      const patientId = JSON.parse(
        document.getElementById("patient-id").textContent
      );

      const agapeSocket = new WebSocket(
        //"ws://" + window.location.host + "/ws/test/"
        /*"ws://" +
          window.location.host +
          "/ws/doctor/" +
          37696611 +
          "/appointments/"*/

        "ws://192.168.100.191:8000/ws/online-doctors/"
      );

      agapeSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log("Number of doctors= ", data.doctor_number);
        console.log(data.doctor_list);
        document.querySelector("#chat-log").value = data.doctor_list + "\n";
      };

      agapeSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };
    </script>
  </body>
</html>
