<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.agapelife">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgapeLife.NoActionBar"
        tools:targetApi="r">
        <activity
            android:name=".medical_reports.DoctorReportsActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor_reports"
            android:theme="@style/Theme.AgapeLife.NoActionBar.NoActionBar" />
<!--        <activity-->
<!--            android:name=".DoctorReports"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_doctor_reports"-->
<!--            android:theme="@style/Theme.AgapeLife.NoActionBar.NoActionBar" />-->
        <activity
            android:name=".medical_reports.DoctorReportDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".medical_reports.DoctorNotesActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.AppointmentRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.AppointmentJoiningRoomActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.AppointmentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AgapeSocketActivityTest"
            android:exported="false" />
        <activity
            android:name=".doctors.DoctorAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.CreateAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.PostAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.PreAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".doctors.DoctorsSection"
            android:exported="false" />
        <activity
            android:name=".doctors.DoctorMainActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor_main" />
        <activity
            android:name=".doctors.DoctorDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor_details"
            android:theme="@style/Theme.AgapeLife.NoActionBar.NoActionBar" />
        <activity
            android:name=".doctors.DoctorsFormActivity"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".authentication.SignUpChoice"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".authentication.LoginSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AgapeLife.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>