<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.agapelife">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgapeLife.NoActionBar"
        tools:targetApi="r">
        <activity
            android:name=".DoctorNotesActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentJoiningRoomActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AgapeSocketActivityTest"
            android:exported="false" />
        <activity
            android:name=".DoctorAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".PostAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".PreAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsSection"
            android:exported="false" />
        <activity
            android:name=".DoctorMainActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor_main" />
        <activity
            android:name=".DoctorDetails"
            android:exported="false"
            android:label="@string/title_activity_doctor_details"
            android:theme="@style/Theme.AgapeLife.NoActionBar.NoActionBar" />
        <activity
            android:name=".DoctorsFormActivity"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".SignUpChoice"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".LoginSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AgapeLife.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AgapeLife.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>